documentoProductorConsumidor.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="documentoProductorConsumidor" type="tipoDocumentoProductorConsumidor" />
	<xsd:complexType name="tipoDocumentoProductorConsumidor">
		<xsd:sequence>
			<xsd:element name="mensaje" type="tipoMensaje" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoMensaje">
		<xsd:sequence>
			<xsd:element name="email" type="xsd:string" />
			<xsd:element name="elemento" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>